@import "./inspector.css";
:root {
  --swt-code-bg: #f8fafd;
  --swt-code-comment: #52555b; /*#5f6368;*/
  --swt-code-keyword: #8430ce;
  --swt-code-identifier: #1967d2;
  --swt-code-string: #188038;
  --swt-code-types: #996900;
  --swt-code-literal: #b55908;
  --swt-code-params: #d93025;

  --swt-widget-border: #ccc;

  --swt-result-th-bg: #efefef;
  --swt-result-td-bg: white;
  --swt-result-cell-border-color: #1b1b1b;
  --swt-result-color: black;
  --swt-result-null-color: #999;

  /* Observable Inspector stuff */
  --syntax_key: var(--swt-code-keyword);
  --syntax_string: var(--swt-code-string);
  --syntax_number: var(--swt-code-literal);
}

html.dark {
  --swt-code-bg: #282c34;
  --swt-code-comment: #80868b;
  --swt-code-variables: #f28b82;
  --swt-code-literal: #fa903e;
  --swt-code-class: #fdd663;
  --swt-code-string: #81c995;
  --swt-code-quotes-and-meta: #8ab4f8;
  --swt-code-keyword: #c58af9;

  --swt-widget-border: #444;

  --swt-result-th-bg: #141414;
  --swt-result-td-bg: #212121;
  --swt-result-cell-border-color: #565656;
  --swt-result-color: #efefef;
  --swt-result-null-color: #8b8b8b;
}
.swt-sql-widget {
  border: 1px solid var(--swt-widget-border);
  border-radius: 4px;
  padding: 1px;
}

.swt-error {
  font-family: monospace;
  padding: 24px 12px;
}
.swt-table {
  font-family: MonaspaceXenon-Regular;
  font-family: "Roboto-Mono";
  overflow-y: auto;
  max-height: 600px;
  position: relative;
}
.swt-table table {
  border-collapse: collapse;
  display: table;
  margin: 0 auto;
  border: none;
}

.swt-table tr,
.swt-table th {
  border-top: 1px solid var(--swt-result-cell-border-color);
  border-bottom: 1px solid var(--swt-result-cell-border-color);
}
.swt-table td:not(:last-child),
.swt-table th:not(:last-child) {
  border-right: 1px solid var(--swt-result-cell-border-color);
}
.swt-table td,
.swt-table th {
  text-overflow: ellipsis;
  border-left: 1px solid var(--swt-result-cell-border-color);
  border-right: 1px solid var(--swt-result-cell-border-color);
}

.swt-table th {
  background: var(--swt-result-th-bg);
  color: var(--swt-result-color);
  margin: 2px;
  text-align: center;
  font-size: 14px;
  padding: 4px 8px;
}

.swt-table td {
  background: var(--swt-result-td-bg);
  color: var(--swt-result-color);
  position: relative;
  max-width: 100%;
  font-size: 14px;
  line-height: 14px;
  padding: 4px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swt-table .swt-cell-string {
  white-space: nowrap;
}
.swt-table .swt-cell-blob,
.swt-cell-number {
  display: block;
  text-align: right;
}

.swt-cell-null {
  width: 100%;
  display: block;
  font-style: italic;
  text-align: center;
  color: var(--swt-result-null-color);
}

.observablehq--inspect {
  font-size: 0.8rem !important;
  font-family: MonaspaceNeon-Regular !important;
  overflow: hidden;
}

html.dark .observablehq--inspect {
  color: var(--swt-result-color);
}

.swt-editor {
  & .swt-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    font-size: 12px;
  }
}
.swt-editor .cm-editor .cm-content {
  font-family: "MonaspaceNeon-Regular";
  font-size: 0.9rem;
}
.swt-editor .cm-editor {
  background: var(--swt-code-bg);
}

.swt-editor button.submit {
  background-color: rgba(0, 0, 0, 0);
  color: var(--swt-code-keyword);
  border: none;
  padding: 0px;
  cursor: pointer;
}

.swt-results-footer {
  display: flex;
  font-family: "Roboto-Mono";
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 2px 4px;
  font-style: italic;
  border-top: 1px solid var(--swt-widget-border);
}

@font-face {
  font-family: "MonaspaceNeon-Regular";
  src: url("../public/MonaspaceNeon-Regular.woff") format("woff");
}
@font-face {
  font-family: "MonaspaceXenon-Regular";
  src: url("../public/MonaspaceXenon-Regular.otf") format("otf");
}

@font-face {
  font-family: "MonaspaceNeon-LightItalic";
  src: url("../public/MonaspaceNeon-LightItalic.otf") format("otf");
}
@font-face {
  font-family: "MonaspaceNeon-SemiBold";
  src: url("../public/MonaspaceNeon-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Mono";
  src: url("../public/roboto-mono-latin-400-normal.woff2") format("woff2");
}
